.profile-body{
    border: 1px solid #d9d9d9;    
    margin-left: 30%;
    margin-top: 30px;   
    padding: 10px;
    width: 50%;
}
.profile-body{
    display: flex;
}
.profilecontent{
    margin-left: 50px;
}

/*Profile.js --------------------------------------------------------  */

.content-profile-body{
    display: flex;
}
.title-profile{
    width: 90px;
}
.content-body{
    margin-left: 30px;
    padding-top: 20px;
}
.bio-body{
    padding-top: 20px;
    margin-left: 98px;
}
/*Content.js --------------------------------------------------------  */

.avatar-image{
    border-radius: 50%;
    margin-bottom: 20px;
}
.avatar-label{
    display: flex;
    margin-left: 20px;
}
/*Avatar.js --------------------------------------------------------  */
